/* Style Design is 'Mobile First', meaning that the styles
   have been designed for mobile, and then the media queries
   account for larger screen sizes. For more information see
   www.w3schools.com/css/css_rwd_mediaqueries.asp*/

/* For Mobile */
* {
  	font-family:"Lucida Grande", Helvetica, Arial, sans-serif;		
  	box-sizing:border-box;
}

body {
	width:100%;
	max-width:960px;
	margin:0 auto;
  	background-color:#81E3D1;
}

div.main-panel {
	display:block;
	margin-left:auto;
	margin-right:auto;
	background-color:#FFFFCC;
	padding:15px;
}

h1.comic-title {
	text-align:center;
}

/* For Tablets */
@media only screen and (min-width: 600px) and (max-width:767px) {
	body {
		padding-top:20px;
	}

	div.main-panel {
		width:80%;
	}
}

/* For Desktop */
@media only screen and (min-width: 768px) {
	body {
		padding-top:20px;
	}

	div.main-panel {
		width:80%;
	}
}